{% extends 'base.html' %}

{% block content %}
<div class="container-fluid mt-3 mt-md-5" id="app">
  <div class="row mt-3">
    <div class="col-12">
      <div class="table-responsive">
          <h3>Active Task</h3>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <td>ID</td>
              <td>Name</td>
              <td>Hostname</td>
              <td>Start Time</td>
              <td>Args</td>
              <td>kwargs</td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            <tr v-for="data in active_tasks">
              <td>[[data.id]]</td>
              <td>[[data.name]]</td>
              <td>[[data.hostname]]</td>
              <td>[[data.time_start]]</td>
              <td>[[data.args]]</td>
              <td>[[data.kwargs]]</td>
              <td><button class="btn btn-danger" @click="revokeTask(data.id)">Revoke</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-12">
        <h3>Reserved Task</h3>
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Hostname</td>
                <td>Start Time</td>
                <td>Args</td>
                <td>kwargs</td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              <tr v-for="data in reserved_tasks">
                <td>[[data.id]]</td>
                <td>[[data.name]]</td>
                <td>[[data.hostname]]</td>
                <td>[[data.time_start]]</td>
                <td>[[data.args]]</td>
                <td>[[data.kwargs]]</td>
                <td><button class="btn btn-danger" @click="revokeTask(data.id)">Revoke</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
  </div>
</div>
{% endblock content %} {% block custom_script %}
<script>
  const { createApp } = Vue;

  createApp({
    delimiters: ["[[", "]]"],
    data() {
      return {
        active_tasks: [],
        reserved_tasks: [],
      };
    },
    mounted: function () {
      this.webSocketConnect();
    },
    methods: {
      async webSocketConnect() {

        let ws_scheme = window.location.protocol == "https:" ? "wss://" : "ws://";
        this.ws = new WebSocket(
          ws_scheme + window.location.host + "/ws/celery_task/"
        );

        this.ws.onmessage = (event) => {
          celery_data = JSON.parse(event.data);
          this.active_tasks = celery_data['active_tasks'];
          this.reserved_tasks = celery_data['reserved_tasks'];
        };

        this.ws.onclose = (event) => {
          var now = moment();
          var today1530 = moment('15:30','HH:mm');

          if (event.code === 1000){}
          else if(now < today1530){
            setTimeout(() => {
              this.webSocketConnect();
            }, 1000);
          }
        }

        this.ws.onerror = (event) => {
          setTimeout(() => {
            this.webSocketConnect();
          }, 1000);
        }
      },
      async closeWs() {
        this.ws.close();
      },
      async onChange() {
        await this.closeWs();
        await this.webSocketConnect();
      },
      revokeTask(id){
        let url =
          window.location.protocol +
          "//" +
          window.location.host +
          "{% url 'master:revoke_task' %}";
        
        raw = JSON.stringify({
          id: id,
        });

        var myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");
        myHeaders.append("X-CSRFToken", "{{csrf_token}}");

        var requestOptions = {
          method: "POST",
          headers: myHeaders,
          body: raw,
          redirect: "follow",
        };
        fetch(url, requestOptions)
          .then(response => response.json().then(data => (
            this.data = data['data']
          )))
          .catch((error) => console.log("error", error));
      },
      formatNumber(num) {
        return parseFloat(num).toFixed(2);
      },
      stylePnl(num) {
        if (num < 0) {
          return "text-danger";
        } else {
          return "text-success";
        }
      },
      getTime(timestamp) {
        var timestamp = new Date(timestamp);
        return timestamp.toLocaleTimeString('it-IT');
      }
    },
  }).mount("#app");
</script>
{% endblock custom_script %}